header.header
    .container
        .row.align-items-center
            .col-3
                .inner-logo
                    a(href="/")
                        img(src="/images/cgvlogo.png", alt="Logo") 
            .col-9
                .inner-menu
                    ul
                        li
                            a(href="/") Trang chủ
                        li
                            a(href="/movies") All movie
                        li
                            a(href="/about") About Us
                        li
                            a(href="/feedback") Feedback
                        li
                            a(href="/contact") Contact
