extends ../../layouts/default.pug
block main
    div(class="about-us")
        div(class=" inner-title")
            center
                h3 WELCOME TO CGV THEATER
        div(class="container section-one")
            div(class="row")
                div(class="col-xl-7 col-lg-7")
                    div(class="inner-desc")
                        h5 CGV Theater is the most recognisable ﬁlm exhibition brands in the country which has high standards of ‘Luxury’, ‘Service’ & ‘Technology’.
                        p
                        | Currently with a Cinema circuit of 450 + screens spread across 100+ properties covering 100+ cities across the country. 
                        | The best thing about using it is the simplicity and ease with which a person can book the tickets online.Coming from Chennai, that has a rich legacy of cinema, we are a theatre chain with a passion for experiences and an even bigger passion to share them with our customers. We understand the joy of watching our favourite stories come alive on the big screen, and believe that it is our duty to go the extra mile to make this experience as immersive as we possibly can! 
                        | The company was instrumental in bringing computer-based digital non-linear editing to India with Avid Technology, transforming the industry and forever changing the way Indian film and television programs were edited. The company subsequently brought digital cinema sound to India with DTS and helped Indian cinema leapfrog a generation, form mono sound directly to digital.
                        br
                    | It is available for 24 X 7 hours.
                div(class="col-xl-5 col-lg-5")    
                    div(class="inner-image")
                        img(src="images/Online-Movie-Ticket-Booking-Banner-1-1280x720.jpg", alt="", width="100%")
        div(class="section-three")
            div(class="inner-head") SERVING HAPPINESS
            div(class="inner-dec")
            div(class="inner-details")
                div(class="row")
                    div(class="col-md-4")
                        div(class="inner-image")
                            img(src="images/unnamed.jpg" class="")
                        div(class="inner-content")
                            div(class="inner-box")
                                div(class="inner-title") Luxury   
                                div(class="inner-text")
                                    | Inox theater is a leading chain of multiplex spread over Gujarat. The multiplex shows Hindi and English movies. It caters best in class cinematic experience to its patrons.
                    div(class="col-md-4")
                        div(class="inner-image")
                            img(src="images/food.jpg" class="")
                        div(class="inner-content")
                            div(class="inner-box")
                                div(class="inner-title") SERVICE
                                div(class="inner-text")
                                    | Weekend popcorn,cold drinks,snacks and 'masala' on screen.We are committed to provide our guests with an unparalleled cinema journey, which is underlined by the warmth of our top notch service
                    div(class="col-md-4")
                        div(class="inner-image")
                            img(src="images/technology.jpg" class="")
                        div(class="inner-content")
                            div(class="inner-box")
                                div(class="inner-title") TECHNOLOGY   
                                div(class="inner-text")
                                    |Be it projection & sound, our advanced cinema formats, or reservations, check-ins & food ordering, we aim to amplify your experience with the finest use of technology.
