extends ../../layouts/default.pug
include ../../partials/dataTable.pug
include ../../partials/add.pug

block main
    .products
        .info
            h1 Tickets
        +DataTable(ticketColumns, tickets)

        script.
            let slug = !{JSON.stringify(slug)};
            let openAddButton = false;

            const handleOpen = (value) => {
                openAddButton = value;
                if (value) {
                    document.querySelector('.add').style.display = 'flex';
                } else {
                    document.querySelector('.add').style.display = 'none';
                }
            };
