extends ../../layouts/default.pug
block main
    div(class="contact")
        div(class="container contact-box")
            div(class="row")
                div(class="col-lg-6 col-md-6")
                    div(class="contact_text")
                        div(class="inner-title")
                            span Information 
                            h2   Contact Us
                            p    As you might expect of a company that began as a high-end interiors contractor, we pay strict attention.
                        ul
                            li
                                h4 Nha Trang
                                p CGV Cinema, Near Nha Trang University, Nha Trang.
                                    br
                                    | +91 187-654-3210
                                    br
                                    | +91 258-963-1470    