mixin BigChartBox(props)
  .bigChartBox
    h1 Revenue Analytics
    .chart
      canvas#bigChart(width="99%")

    script(src="https://cdn.jsdelivr.net/npm/chart.js")

    script.
        const cctx = document.getElementById('bigChart');
        let data = !{JSON.stringify(props)};

        new Chart(cctx, {
            type: 'line',
            data: {
            labels: data.map(item => item.name),
            datasets: [
                {
                    label: 'Hà Nội',
                    data: data.map(item => item.HaNoi),
                    backgroundColor: '#ffc658',
                    borderColor: '#ffc658',
                    fill: true,
                    pointRadius: 0,
                    tension: 0.4,

                },
                {
                    label: 'Nha Trang',
                    data: data.map(item => item.NhaTrang),
                    backgroundColor: '#82ca9d',
                    borderColor: '#82ca9d',
                    fill: true,
                    pointRadius: 0,
                    tension: 0.4,

                },
                {
                    label: 'All',
                    data: data.map(item => item.All),
                    backgroundColor: '#8884d8',
                    borderColor: '#8884d8',
                    fill: true,
                    pointRadius: 0,
                    tension: 0.3,
                },
            ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: true,
                        stacked: true
                    },
                    x: {
                        stacked: true
                    }
                },
                plugins: {
                    legend: {
                        display: false
                    },
                    tooltip: {
                        enabled: true,
                        intersect: false,
                        mode: 'index',
                    },
                }
            }
        });