.navbar
  .logo
    img(src="logo.svg", alt="")
    span lamadmin
  .icons
    img(src="/search.svg", alt="", class="icon")
    img(src="/app.svg", alt="", class="icon")
    img(src="/expand.svg", alt="", class="icon")
    .notification
      img(src="/notifications.svg", alt="")
      span 1
    .user
      img(src="https://images.pexels.com/photos/11038549/pexels-photo-11038549.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load", alt="")
      span Jane
    img(src="/settings.svg", alt="", class="icon")
